/aircnc/target/
/aircnc-server/target/
/aircnc-user-client/target/
/aircnc-hotel-client/target/
/aircnc-server/bin/
/aircnc-user-client/bin/
/aircnc-hotel-client/bin/
/aircnc-manage-client/target/
/aircnc-manage-client/bin/
/aircnc-market-client/target/
/aircnc-market-client/bin/
.classpath
.project
.settings
*.prefs
*.jar
.class
