.root{
	-fx-font-family:"DengXian Light","Pingfang SC","Microsoft Yahei","Helvetica Neue";
	/*-fx-background-image:url("main_BG.png");
	-fx-background-size: 1024px 768px;*/
}

.title{
	-fx-font-size: 60px;
	-fx-text-fill:#555693;
}

.split-line{
	-fx-fill:#4f4e84;
}

.info-index{
	-fx-text-fill: #a4a4a4;
	-fx-font-size: 24 px;
}

.info-content{
	-fx-border-radius: 20px,20px,20px,20px;
	-fx-border-color: #4f4e84;
	-fx-background-color:transparent;
}

.combo-box{
	-fx-background-color: #fff;
	-fx-border-width: 1px;
	-fx-border-color: #4f4e84;
}

.confirm{
	-fx-font-size: 20px;
	-fx-text-fill: #ffffff;
	-fx-background-radius:15px,15px,15px,15px;
	-fx-background-color:#575793;
}