.root{
	-fx-font-family:"DengXian Light","Pingfang SC","Microsoft Yahei","Helvetica Neue";
	/*-fx-background-image:url("main_BG.png");
	-fx-background-size: 1024px 768px;*/
}


.pane{
	-fx-background-color:#ffffff;
}

.page{
	-fx-text-fill: #575793;
	-fx-border-color:#575793;
	-fx-border-radius:20px,20px,20px,20px;
	-fx-background-color:transparent;
}

.page-now{
	-fx-text-fill: #ffffff;
	-fx-background-radius:20px,20px,20px,20px;
	-fx-background-color:#575793;
}

