
.label{
	-fx-font-size: 12px;
	-fx-text-fill: #000;
}

.bg{
	-fx-background-color: #fff;
}

.button{
	-fx-font-size: 10px;
	-fx-background-color: #4e4f84;
	-fx-text-fill: #fff;
	-fx-background-radius: 10px;
}

.text-area {
    -fx-background-color: #fff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #4e4f84;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}