.root{
	-fx-font-family:"DengXian Light","Pingfang SC","Microsoft Yahei","Helvetica Neue";
	/*-fx-background-image:url("main_BG.png");
	-fx-background-size: 1024px 768px;*/
}

.info-index{
	-fx-text-fill: #a4a4a4;
}

.labal{
	-fx-font-size: 26 px;
}

.modify{
	-fx-font-size: 30px;
	-fx-border-color:#575793;
	-fx-text-fill: #575793;
	-fx-background-color:transparent;
}

.page{
	-fx-text-fill: #575793;

}

