.root{
	-fx-font-family:"DengXian Light","Pingfang SC","Microsoft Yahei","Helvetica Neue";
	/*-fx-background-image:url("main_BG.png");
	-fx-background-size: 1024px 768px;*/
}

.title{
	-fx-font-size: 60px;
	-fx-text-fill:#555693;
}

.split-line{
	-fx-fill:#4f4e84;
}

.info-index{
	-fx-font-size: 30px;
}

.info-content{
	-fx-font-size: 30px;
}

.modify{
	-fx-font-size: 30px;
}

.id{
	-fx-text-fill:#555693;
	-fx-font-size:20px;
}

.grade{
	-fx-font-size: 30px;
	-fx-text-fill: #eb7b7b;
}