
.root{
	-fx-font-family:"DengXian Light","Pingfang SC","Microsoft Yahei","Helvetica Neue";
	-fx-background-size: 1024px 768px;
	/*-fx-background-image: url("../../../../../images/member/Main_BG.png");*/
	-fx-background-color: #fff;
}

.hbox{
	-fx-border-width: 1px 0px 1px 0px;
	-fx-border-color: #a0a0a0;

}

.nav-vbox{
	-fx-background-image: url("../../../../../images/member/Main_BG.png");
}

.label{
	-fx-text-fill:#ffffff;
	-fx-font-size: 18px;
}

.hbox:hover{
	-fx-background-color: #7173ab;
}

.portrait-hbox{
	-fx-background-image: url("../../../../../images/member/member-portrait.png");
	-fx-background-size: 97px 97px;
	-fx-background-repeat: no-repeat;
	/*-fx-background-radius: 50px;
	-fx-border-color: #4f4e84;
	-fx-border-width: 3px;
	-fx-border-radius: 50px;*/
}

.portrait-border{
	-fx-border-radius: 50px;
	-fx-background-radius: 50px;
	-fx-border-color: #4f4e84;
	-fx-border-width: 2px;
}